In [8]:
import pandas as pd

# Load the dataset
file_path = '/mnt/data/dataset.csv.csv'
df = pd.read_csv("/content/dataset.csv.csv")

# Display the first few rows of the dataset to understand its structure
df.head(),df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
 10  Per_Sqft     1018 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

(    Area  BHK  Bathroom      Furnishing  \
 0  800.0    3       2.0  Semi-Furnished
 1  750.0    2       2.0  Semi-Furnished
 2  950.0    2       2.0       Furnished
 3  600.0    2       2.0  Semi-Furnished
 4  650.0    2       2.0  Semi-Furnished

                                             Locality  Parking     Price  \
 0                                   Rohini Sector 25      1.0   6500000
 1             J R Designers Floors, Rohini Sector 24      1.0   5000000
 2                Citizen Apartment, Rohini Sector 13      1.0  15500000
 3                                   Rohini Sector 24      1.0   4200000
 4  Rohini Sector 24 carpet area 650 sqft status R...      1.0   6200000

           Status   Transaction           Type  Per_Sqft
 0  Ready_to_move  New_Property  Builder_Floor       NaN
 1  Ready_to_move  New_Property      Apartment    6667.0
 2  Ready_to_move        Resale      Apartment    6667.0
 3  Ready_to_move        Resale  Builder_Floor    6667.0
 4  Ready_to_move  New_Property  Builder_Floor    6667.0  ,
 None)

In [9]:
# Dropping unnecessary columns
columns_to_drop = ['Furnishing', 'Locality', 'Status', 'Transaction', 'Type', 'Per_Sqft']
df_cleaned = df.drop(columns=columns_to_drop)

# Handling missing data by dropping rows with any missing values
df_cleaned = df_cleaned.dropna()

# Display the cleaned data summary
df_cleaned.info(), df_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1226 entries, 0 to 1258
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Area      1226 non-null   float64
 1   BHK       1226 non-null   int64
 2   Bathroom  1226 non-null   float64
 3   Parking   1226 non-null   float64
 4   Price     1226 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 57.5 KB

(None,
     Area  BHK  Bathroom  Parking     Price
 0  800.0    3       2.0      1.0   6500000
 1  750.0    2       2.0      1.0   5000000
 2  950.0    2       2.0      1.0  15500000
 3  600.0    2       2.0      1.0   4200000
 4  650.0    2       2.0      1.0   6200000)

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Splitting the data into features (X) and target (y)
X = df_cleaned.drop(columns=['Price'])
y = df_cleaned['Price']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating the linear regression model
model = LinearRegression()

# Training the model
model.fit(X_train, y_train)

# Making predictions on the test set
y_pred = model.predict(X_test)

# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(434435087586415.06, 0.5767196544670078)